<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutoLotDAL.Properties.Settings.AutoLotConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS2012;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>